body {
  object-position: 0 0;
  fill: #b9b9b9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main_row {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 5px 5px;
}

.container {
  width: 100%
}

.navbar {
  margin-bottom: 0;
  min-height: 30px;
  height: 36px;
  background-color: #f8f9fa !important;
  padding: 0.3rem 0.5rem 1.2rem 1.2rem !important
}

.nav-item {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 14px;
}

.btn-info {
  color: #8a9baa;
  background-color: #fafff3;
  border-color: #8a9baa;
  border-width: 1px;
  font-size: 14px;
  padding: 4px 6px 4px 6px;
}

.btn-info:active:focus {
    box-shadow: none;
    color: #8a9baa !important;
    background-color: #cbe3ff !important;
    border-color: #8a9baa  !important;
    border-width: 1px !important;
}

.time {
  margin-left: 30px;
  font-weight: lighter;

}

.mgn-tp-12 {
  margin-top: 12px;
}

.site-mark {
  display: none;
}

.sum-spin {
  margin-left: 20px;
  margin-top: 16px;
}

.table {
  width: 500px;
  margin: 22px;
  line-height: 1.0;
  text-align: center;
  font-size: 13px;
}

.overview-map {
  height: 500px;
  overflow: hidden;
  margin-top: 20px;
  background-color: #cbe3ff;
}

path {
  fill: #c5c4c3;
}

path:hover {
  fill: #c2bfa4;
}

.table_area{
  display: flex;
  width: 800px;
}

.list-group-item {
  border-color: white;
  padding-left: .25rem;
}

.menu-items-list {
  margin-top: 10px;
}

.active-btn  {
  background-color: #779dad !important;
  color: white;
}

.btn_line_btn {
  font-size: 12px;
  padding: 4px 10px 4px 10px;
  margin: 1px;
  border-color: #f5f5f3;
  border-radius: 3px;
}
.btn_line_btn:focus {
  outline: none
}

.chart_btn {
   font-size: 12px;
   padding: 4px 10px 4px 10px;
   margin: 1px;
   border-color: #f5f5f3;
   border-radius: 3px;
   display: block;
   width: 65px;
 }

.chart_extras {
  width: fit-content !important;
}

.chart_btn:focus {
  outline: none
}

.chart_btn.activeBtn {
  /*outline: solid;*/
  border-radius: 3px;
  border-color: #6f98bb;
}

.chart_btn.activeExtraBtn {
  border-radius: 3px;
  border-color: #6f98bb;
  background-color: #586799;
  color: white;
}

.chart_btn_group {
  margin-top: 22px;
  margin-left: 38px;
}

.btn_line {
  margin-left: 16px;
  display: inline-block;
}

.form-radio, .th-main {
  color: dimgrey;
  font-weight: normal;
  padding: .5rem
}

.text_filter {
  float: left;
  padding: 6px;
  width: 180px;
  font-size: 12px;
}

.pollutant_select {
  background-color: #8a9baa;
  border-color: #8a9baa;
  padding: 5px;
  width: 76px;
}

.pollutant_select {
  float: initial !important;
  background-color: #8a9baa;
  border-color: #8a9baa;
  padding: 4px;
  width: 70px;
  display: initial !important;
  font-size: 14px;
}

.site_name_cell {
}

.site_name_cell span {
  color: #00008a;
  cursor: pointer;
}

.site_name_cell span:hover {
  font-weight: bold;
}

.value_cell {
  width: 28%;
}

text.site-label {
  display: none;
  fill: black;
  font-size: 14px;
  position: absolute;
  cursor: default;
}

.highlight_row {
  background-color: #c3eaff;
}

.refresh_symbol {
  margin-left: 8px;
  cursor: pointer;
}

.chartjs-render-monitor {
  margin-top: 2px;
  margin-left: 22px;
}

.site_chart {
  display: flex;
  width: 800px;
}

.chart_title {
  margin-left: 62px;
  font-size: 12px;
}

.chart_title_right{
  font-size: 12px;
  float: right;
  margin-right: 182px;
}
