body {
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
    width: 100%
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.table {
  width: 260px;
  margin-left: 20px;
}

.land {
  /*fill: #b9b9b9;*/
  /*stroke: white;*/
  /*stroke-width: 1.5;*/
  /*stroke-miterlimit: 4;*/

  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;

}
.coast {
  stroke-width: 0.5;
}
.circle {
  opacity: 0;
  fill-opacity: 1;
  stroke: black;
  stroke-width: 0.5;
  stroke-opacity: 1;
}

path #botswana-3 {
  fill: blue;
}

path:hover {
  opacity: 0.5;
  fill: blue;
}
.colour0 {fill: #b9b9b9;}
.colour1 {fill: #ffa6a9;}
.colour2 {fill: #cc6674;}
.colour3 {fill: #992038;}
.colour4 {fill: #60000e;}